name: deploy      

on:
  push:
    branches:
      - main
  
  jobs:
    deploy:
      runs-on: windows-latest
      setps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v1
          with:
            node-version: '23'
        - name: Build web-app
          run: |
            npm ci
            npm ruin build
        - name: Deploy to gh-pages
          uses: peaceiris/actions-gh-pages@v3
          with:
            github_token: ${{secrets.GITHUB_TOKEN}}
            publish_dir: ./build